/*Adding a font*/
@font-face {
	font-family: 'Mermaid';
	src: url("../font/Mermaid\ Babies.otf") format("opentype");
}

/* Colors definition */
:root {
    --couleur-principale: #2C3C3F;
    --couleur-secondaire: #a77ea4;
    --couleur-tertiaire: #ec70a0;
    --couleur-fond: #F2F4F4;
  }

/* General style of the site */
body {
  background-color: var(--couleur-fond);
  font-family: Cambria, Cochin, Georgia, sans-serif;
  margin: 0;
  padding-bottom: 50px;
}

h1 {
  text-align: center;
  font-family: 'Mermaid', sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
text-align: left;
color: var(--couleur-secondaire);
font-family: 'Mermaid', sans-serif;
margin-block-start: 0;
margin-block-end: 0;
}

p {
text-align: left;
color: var(--couleur-principale);
font-family: 'Mermaid', sans-serif;
margin-block-start: 0;
}


/* Header (and it elements) */
header {
  background-color: var(--couleur-principale);
  color: var(--couleur-fond);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* pour aligner les éléments à l'extrémité gauche et droite */
  align-items:center; /* pour aligner les éléments verticalement */
  height: 80px;
  padding: 0 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
}

.logo {
  flex: 1;
  padding: 0;
  height: 50px;
  margin-left: 50px;
}

.title{
  margin-block-start: 0;
  height: 50px;
  flex:1;
  font-size: 35px;
  line-height: 50px;
}

/* Menu */
.menu {
  justify-content: center;
  flex: 5;
  font-family: 'Mermaid', sans-serif;
  display: flex;
  font-size: 20px;
  margin-right: 50px;
}

.menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-left: 50px;
}

.menu li:first-child {
  margin-left: 0;
}

.menu a {
  color: var(--couleur-fond);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.menu a:hover {
  color: var(--couleur-tertiaire);
}

/*Link with a "button" aspect to the advice page*/
.button {
  text-align: center;
  font-family: 'Mermaid', sans-serif;
  flex:1;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--couleur-tertiaire);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  width:10px;
  margin-right: 50px;
}

.button:hover {
  background-color: var(--couleur-secondaire);
}

/*The footer and it's link to the about page*/
footer{
    background-color: var(--couleur-principale);
    padding: 0 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px;
}

.link{
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}


/* Center of the page */
main {
  padding: 20px; 
  padding-top: 100px;
  padding-left: 50px;
}

/*The about page*/
.about {
  background-image: url(../img/prairie.jpeg);
  background-size: cover;
  background-position-y: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.aboutcontainer {
  margin: auto;
  background-color: var(--couleur-fond);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 60%;
  height: 80%;
  text-align: center;
}

.aboutcontainer h2{
  font-family: 'Mermaid', serif;
  font-size: 50px;
  color:var(--couleur-principale);
}

.aboutcontainer p{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  color:darkslategray;
}


/*The information page: first row and first column of the table in bright colors*/
.c1{
    background-color: var(--couleur-secondaire);
    font-family: "Mermaid", sans-serif;
    color: var(--couleur-principale);
    font-size: larger;
    padding-left: 10px;
    padding-right: 10px;
}
.c2{
    background-color: var(--couleur-tertiaire);
    font-family: "Mermaid", sans-serif;
    color: var(--couleur-principale);
    font-size: larger;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

/* Information table*/
table{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-radius: 10px;
  border: solid 1px var(--couleur-principale);
  border-width: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);;
}
.info td{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 10px;
    padding-right: 10px;
    background-color: pink;
}

/* Adoption form page*/
.box{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    background-color: var(--couleur-principale);
    text-align: center;
    border-radius: 25px;
    padding: 20px;
    border: solid 1px var(--couleur-secondaire);
    margin-bottom: 20px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 100px;
    width: 90%;

}

/*The form at the left, the table at the right*/
.box form{
  flex:1;
}

.box section{
  padding-left: 30px;
  flex:1;
}

.box h2{
  color:white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 20px;
  text-align: center;
}

.box p{
  margin-left: auto;
  margin-right: auto;
  padding-left: 200px;
  padding-right: 200px;
  color:white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 20px;
  text-align: center;
}

/* buttons of the form*/
.box #add{
    background-color: var(--couleur-tertiaire);
    color: white;
}

.box #cancel{
    background-color: var(--couleur-secondaire);
    color: white;
}

.box fieldset{
    margin: 20px;
}

.box legend{
    font-size: larger;
}

.box table{
    font-size: small;
}

/* table of results*/
.results th{
  padding:10px;
  width: 100px;
}

.result td{
  background-color: white;
  color:var(--couleur-principale);
}

/*results of Advice page*/
.boxadvice{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
  background-color: var(--couleur-principale);
  text-align: center;
  border-radius: 25px;
  padding: 20px;
  border: solid 1px var(--couleur-secondaire);
  margin-bottom: 20px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
  margin-bottom: 100px;
  width: 90%;

}

.boxadvice form{
  flex:1;
}

.boxadvice section{
  padding-left: 30px;
  flex:1;
}

.boxadvice h2{
  color:white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 20px;
  text-align: center;
}

.boxadvice p{
  margin-left: auto;
  margin-right: auto;
  color:white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 20px;
  text-align: center;
}

/* buttons of the form*/
.boxadvice #try{
    background-color: var(--couleur-tertiaire);
    color: white;
}

.boxadvice fieldset{
    margin: 20px;
}

.boxadvice legend{
    font-size: larger;
}

.AdviceResult{
  font-size: 80px;
}
.AdviceComment{
  width:500px;
}