/*Ajouter une police*/
@font-face {
	font-family: 'Gelica';
	src: url("fonts/Fontspring-DEMO-gelica-regular.otf") format("opentype");
}

@font-face {
	font-family: 'Bodoni';
	src: url("fonts/BodoniFLF-Bold.ttf") format("truetype");
}

/* Définir les couleurs */
:root {
    --couleur-principale: #1e3d59;
    --couleur-secondaire: #ff6e40;
    --couleur-tertiaire: #ffc13b;
    --couleur-fond: #f5f0e1;
  }

/* Style général de la page */
body {
  background-color: var(--couleur-fond);
  font-family: Cambria, Cochin, Georgia, sans-serif;
  margin: 0;
}

/* En-tête */
header {
  background-color: var(--couleur-principale);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* pour aligner les éléments à l'extrémité gauche et droite */
  align-items: center; /* pour aligner les éléments verticalement */
  height: 80px;
  padding: 0 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
}

.logo {
  flex-basis: 10px;
  padding: 0;
  margin-bottom: 10px;
}

h1 {
  flex-basis: 300px;
  font-family: 'Gelica', sans-serif;
  margin-bottom: 40px;
}

/* Menu */
.menu {
  justify-content: center;
  flex-basis: 600px;
  font-family: 'Gelica', sans-serif;
  display: flex;
  font-size: 20px;
}

.menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-left: 50px;
}

.menu li:first-child {
  margin-left: 0;
}

.menu a {
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.menu a:hover {
  color: var(--couleur-tertiaire);
}

/* Connexion */
#connexion {
  flex-basis: 150px;
  margin-right: 0px;
  margin-bottom: 20px;
  padding-left: 0px;
}

#connexion a {
  background-color: var(--couleur-tertiaire);
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

#connexion a:hover {
  background-color: var(--couleur-secondaire);
}

/* Centre de la page */
main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: left; /* pour aligner les éléments à l'extrémité gauche et droite */
  align-items: top; /* pour aligner les éléments verticalement */
  overflow: auto;
  padding-top: 100px;
}

/* Style pour les publications */
#new-Annonces {
  flex: 2;
  margin: 10px;
  background-color: var(--couleur-principale);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 20px;
  width: 300px;
  color: white;
}

#new-Annonces__Description{
  resize: none;
}

.Annonces-head {
  flex: 1;
  background-color: var(--couleur-principale);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 20px;
  width: 300px;
  color: white;
}

#Annonces {
  background-color: white;
  color: var(--couleur-principale);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 20px;
  overflow: auto;
  height: 550px;
}

#Annonces h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

#Annonces p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}


.apropos {
  background-image: url(images/team1.jpg);
  background-size: cover;
  background-position-y: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--couleur-fond);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 60%;
  height: 80%;
  text-align: center;
}

.container h2{
  font-family: 'Gelica', serif;
  font-size: 50px;
  color:var(--couleur-principale);
}

.container p{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  color:darkslategray;
}